<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %><br>
      名前 : <span><%= @user.name %></span><br>
      メールアドレス : <span><%= @user.email %></span><br>
      プロフィール : <span><%= @user.profile %></span><br>
      所在地 : <span><%= @user.location %></span><br>
      性別 : <span><%= @gender_str %></span>
      <span><%= link_to "followings", user_followings_path(@user.id) %></span>
      <span><%= link_to "followers", user_followers_path(@user.id) %></span>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render "follow_form" if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>
